@use "helpers" as *;

//sub body change colors
.sub-body {
	.btn {
		&__primary {
			position: relative;
			overflow: hidden;
			color: var(--color-light);
			background-color: var(--sub-body-color);
			&:hover {
				background-color: #3b2c85;
				color: var(--color-light);
			}
		}
	}
}
.btn {
	position: relative;
	min-width: rem(140);
	height: rem(45);
	border-radius: rem(5);
	font-size: em(16);
	font-weight: 500;
	padding: rem(10) rem(30);
	text-align: center;
	cursor: pointer;
	display: inline-flex;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	line-height: normal;
	white-space: nowrap;
	box-shadow: none;
	transition: var(--transition-duration);
	z-index: 1;
	letter-spacing: rem(2);
	&__primary {
		position: relative;
		overflow: hidden;
		color: var(--btn-primary-color);
		background-color: var(--btn-primary-bg);
		&:hover {
			background-color: var(--btn-primary-bg-active);
			color: var(--btn-primary-color-active);
		}
	}
}

