@use "helpers" as *;

.btn {
	position: relative;
	width: rem(111);
	height: rem(28);
	border-radius: rem(50);
	font-size: em(11);
	font-weight: 500;
	padding: 0 rem(8);
	text-align: center;
	cursor: pointer;
	display: inline-flex;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	line-height: normal;
	white-space: nowrap;
	box-shadow: none;
	transition: var(--transition-duration);
	z-index: 1;
	border: 1px solid transparent;
	&__primary {
		position: relative;
		overflow: hidden;
		color: var(--btn-primary-color);
		border: 1px solid var(--btn-primary-border);
		&:hover {
			border-color: var(--btn-primary-border-active);
			color: var(--btn-primary-color-active);
		}
	}
}

