@use "helpers" as *;

.post {
  padding-bottom: 0;
  &__chapter {
    margin-bottom: fluid(50, 30);
    &--title {
      margin-bottom: rem(16);
    }
    &--text {
      margin-bottom: rem(24);
      font-weight: 400;
      color: var(--color-text);
      line-height: 1.65;
    }
  }
  &__cta {
    padding-top: rem(56);
    border-top: 1px solid var(--color-border);
  }
  &__action {
    @include mobile {
      .btn {
        width: 100%;
      }
    }
  }
}